html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;	
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	margin: 0 60px;
}

.header{
	display: inline-block;
	width: 100%;
	float: left;
	padding: 25px 0 1px;
}

.header .logo{
	float: left;
	width: auto;
	margin-top: -45px;
}

.header .menu{
	float: left;
	margin-left: 70px;
}

.menu ul li{
	display: inline-block;
	margin-right: 15px;
}

.menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}


.slider{
	display: inline-block;
	width: 100%;
	height: 50%;
	float: left;
}

.slider .slider-text{
	position: relative;
	width: 600px;
	height: 700px;
	top: 60px;
	bottom: 0;
	left: 60px;
}

.slider .slider-text h1{
	font-size:60px;
	color: #222222;
	font-family: Tw Cen Mt;
}


.slider .slider-text p{
	font-size: 16px;
	color:rgba(255,255,255,0.7);
	padding: 25px 0;
	line-height: 22px;
}

.slider .slider-text a{
	display: inline-block;
	width: 150px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	text-decoration: none;
	background-color: #20B2AA;
	margin-top:25px;
	font-size: 20px;
	font-weight: 600;
}

.products{
	display: inline-block;
	width: 100%;
	float: left;
}

.heading{
	padding: 60px 0;
	text-align: center;
}

.heading h2{
	font-size: 40px;
	margin-bottom: 10px;
	font-family: Tw Cen Mt;
	color: #222222;

}

.heading p{
	font-size: 14px;
	text-transform: uppercase;
	color: #919191;
}

.product-item{
	display: inline-block;
	width: 100%;
	float: left;
}

.item{
	width: 24%;
	float: left;
	margin: 0 0.5% 50px;
}

.item-image{
	position: relative;
}

.item-image img{
	max-width: 100%;
}

.item-image .item-button{
	position: absolute;
	top: 0;
	left: 0;
	padding: 100px 25px;
	width: 0;
	height: 100%;
	background-color: rgba(32,178,170,0.7);
	text-align: center;
	opacity: 0;
}


.item-image .item-button a{
	display: inline-block;
	text-decoration: none;
	color: #20B2AA;
	background-color: #fff;
	border-radius: 4px;
	width:150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 15px;
}

.item-title{
	display: inline-block;
	float: left;
	width: 100%;
	text-align: center;
	padding: 15px 0;
}

.item-title h5{
	font-size: 18px;
	color: #222222;
	margin-bottom: 7px;
}

.item-title p{
	font-size: 16px;
	color:#20B2AA;
	font-weight: 600;
}

.item-title p del{
	color: #838b8f;
}

.item:hover .item-button{
	width: 100%;
	opacity: 1;
}

.item-button:hover a{
	background-color: #e9e9e9;
}

.viewall-button{
	display: inline-block;
	width: 100%;
	float: left;
	text-align: center;
}

.viewall-button a{
	display: inline-block;
	text-decoration: none;
	color: #222222;
	background-color: #fff;
	border: 1px solid #efbdfb;
	border-radius: 4px;
	width:150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 15px;
}

.viewall-button a: hover{
	background-color: #c824f7;
	color: #fff;
}

.background1{
	display: inline-block;
	width: 100%;
	height: 387px;
	float: left;
	background-image: url("image/banner1.jpg");
	background-size: cover;
	background-position: center;
	padding: 25px 0;
	margin-top: 50px;
	text-align: center;
}

.background1 h3{
	position: relative;
	top: 190px;
	font-size: 50px;
	color: #fff;
	font-family: Tw Cen Mt;
}

.background1 a{
	position: relative;
	top: 220px;
	display: inline-block;
	text-decoration: none;
	color: #222222;
	background-color: #20B2AA;
	border-radius: 4px;
	width:150px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin-bottom: 15px;
}

.footer{
	display: inline-block;
	width: 100%;
	float: left;
	text-align: center;
	background-color: black;
	padding: 45px 0;
	margin-top: 40px; 
}

.footer-menu{
	padding: 5px 0;

}

.footer-menu ul li{
	display: inline-block;
}

.footer-menu ul li a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin-left: 10px;
	text-transform:uppercase;
}

.copyright{
	color: #898989;
	margin: 30px 0 0;
	font-size: 15px;
}
